.navbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar_links {
  margin-top: 50px;
  font-weight: 500;
}

/* ul li {
  padding: 10px;
} */

.active_box {
  background-color: #97bf0f;
  color: #fff;
}

.logo {
  width: 180px;
  height: 180px;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin-top: 80px;
}

.copyright_text {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}
